<div class="facturaPublicada mt-2 m-1" *ngFor="let factura of facturas" >

    <h6 class="ml-1 mb-0 mt-3">No: Privado <small>Debes loguearte para ver el pagador</small> </h6>
    
    <table class="table-hover table-responsibe table-sm table m-0">
          <thead class="text-left">
              <tr>
                <th scope="col">Pagador: Privado </th>
                <th scope="col">Valor: {{ factura.valor | currency:'COP':'$' }}</th>
                <th scope="col">Vence: {{ factura.vencimiento | date:'medium' }}</th>
                <th scope="col">Plazo: {{ factura.plazo }}</th>
              </tr>
            </thead> 
    </table>
    
        <table class="table-hover table-responsibe table-sm table mb-2">
      <thead class="text-left">
      <tr>
      <th scope="col">tasa ref:{{ factura.tasa }} </th>
      <th scope="col">Recaudado: 0 </th>
      <th scope="col"> <a href=""> Ofertas : 0 <small>ver</small> </a></th>
    
      <th scope="col">Aprobadas: 0 </th>
      </tr>
      </thead> 
    </table>
    
    <div class="row mb-1">
      <div class="col-12 text-center">
      <button type="button" class="btn btn-sm btn-warning mr-2 mt-1">Hacer oferta</button>
      </div>
    </div>
    
</div>
    