


<div class="row mt-3 animated fadeIn p-sm-1 p-lg-3">

<!-- CONSULTAR EMPRESAS -->
<div class="col-sm-12 col-lg-6 ">

<div class="row">
       
<div class="col-12">
        <h3> <small>Consulta las empresas</small> </h3>
<div class="card">
<div class="card-body">
<input #input (keyup)="buscarEmpresa(input.value)" type="text" class="form-control" placeholder="Buscar Empresa"  >
</div>
</div>
</div>

<div class="col-12" *ngIf="cargando" >
    <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
    </div>
</div>

</div>

<div class="row" *ngIf="!cargando" >
  

    <div class="col-12">
            <h3><small>Empresas registradas en Camara de Comercio: {{ total }} </small>  </h3>

        <div class="card">
            <div class="card-body">

                <table class="table table-sm table-responsive-sm table-hover"  >

                    <thead  >
                        <tr>
                            <th>No</th>
                            <th>Nombre de la empresa</th>
                            <th>Nit</th>
                            <th>actividad</th>
                            <th>dirección</th>
                            <th>telefono</th>
                            <th> <strong>Ver</strong> </th>
                        </tr>
                    </thead>
                    <tbody  >
                        <tr *ngFor="let empresa of empresas ; index as i">
                            <td class="w-70" > {{ i+1 }} </td>
                            <td> {{ empresa.nombre_de_establecimiento }} </td>
                            <td> {{ empresa.nit }} </td>
                            <td> {{ empresa.actividad }} </td>
                            <td> {{ empresa.direccion }} </td>
                            <td> {{ empresa.telefono }} </td>
                            <td>

                                    <button type="submit" (click)="verEmpresa( empresa._id )" class="btn btn-outline-primary"><i class="fa fa-info" ></i>Ver</button>

                            </td>
                        </tr>
                    </tbody>

                </table>

                <button  (click)="cambiarDesde(-5)" class="btn btn-secondary mr-1"> Anteriores </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary"> Siguientes </button>

            </div>
        </div>

    </div>

</div>

</div>
<!-- CONSULTAR EMPRESAS ENDS -->



<!-- AGREGAR EMPRESAS -->
<div class="col-sm-12 col-lg-6 mt-sm-3 mt-lg-0  p-lg-5 ">

<div class="card">

    <div class="text-center">
    <h3> Registrar Empresa </h3>
</div>


    <div class="card-body">
        <form [formGroup]='forma' (ngSubmit)="publicarEmpresa(forma)">



                <div class="form-row mt-2">
                    <div class="form-group col-12 p-0">
                        <label> Nombre de la empresa </label>
                        <input class="form-control form-control-sm mb-0 " formControlName="nombre_de_establecimiento" type="text" placeholder="Nombre de la empresa">
                    </div>
                </div>

                <div class="form-row mt-2">
                        <div class="form-group col-12 p-0">
                            <label> Actividad </label>
                            <input class="form-control form-control-sm mb-0 " formControlName="actividad" type="text" placeholder="Actividad de la empresa">
                        </div>
                    </div>

                    <div class="form-row mt-2">
                            <div class="form-group col-12 p-0">
                                <label> Nit </label>
                                <input class="form-control form-control-sm mb-0 " formControlName="nit" type="text" placeholder="Nit de la empresa">
                            </div>
                        </div>

                        <div class="form-row mt-2">
                                <div class="form-group col-12 p-0">
                                    <label> Direccion </label>
                                    <input class="form-control form-control-sm mb-0 " formControlName="direccion" type="text" placeholder="Direccion de la empresa">
                                </div>
                            </div>

                            <div class="form-row mt-2">
                                    <div class="form-group col-12 p-0">
                                        <label> Telefono </label>
                                        <input class="form-control form-control-sm mb-0 " formControlName="telefono" type="number" placeholder="Telefono de la empresa">
                                    </div>
                                </div>







            <div class="col-12 text-center">
          
                    <button type="submit" class="btn btn-primary">Publicar Empresa</button>
           
                </div>


        </form>
    </div>

    </div>

</div>
<!-- AGREGAR EMPRESAS ENDS -->




</div>


