<div class="container mt-2">
        <h2><small>Persona Juridica</small></h2><h4><small>Informacion personal</small></h4>
        
<form  #formularioPersonaJuridica="ngForm">
        
<!--INFORMACION PERSONAL-->       
<div class="container fondo p-2">
        <!--RAZON SOCIAL - NIT - REPRESENTANTE LEGAL  -->  
        <div class="row">
             
        <div class="form-group mb-1  col-sm-12 col-md-12 col-lg-4">
        <input class="form-control form-control-sm"
        name=""  
        type="text" 
        placeholder="Razon social" 
        id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        name=""  
        type="number" 
        placeholder="Nit" 
        id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
                <input class="form-control form-control-sm"
                name=""  
                type="text" 
                placeholder="Nombre representante legal" 
                id="inputSmall">
                </div>
        
        </div>
        <!---CARGO- DOC IDENTIDAD - LUGAR DE EXPEDICION -CLASIFICACION -  -->
        <div class="row">
        
     
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        name=""  
        type="text" 
        placeholder="Cargo" 
        id="inputSmall">
        </div>
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        name=""  
        type="text" 
        placeholder="Documento de identidad" 
        id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        name=""  
        type="text" 
        placeholder="Lugar de expedicion" 
        id="inputSmall">
        </div>

         

        
        </div>

        <!--ACTIVIDAD ECONOMICA - FECHA CONSTITUCION - VIGENCIA SOCIEDAD-->
        <div class="row">

                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
                        <select class="custom-select custom-select-sm">
                        <option selected="">Clasificacion</option>
                        <option value="financiera">Financiera</option>
                        <option value="Publica">Publica</option>
                        <option value="Divorciado">Privada</option>
                        <option value="Viduo">Mixta</option>
                        <option value="Otro">Reg nal de valores</option>
                        <option value="Otro">Gran contribuyente</option>
                        <option value="Otro">Exenta retefuente</option>
                        </select>
        </div>   
        
    
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        name=""  
        type="text" 
        placeholder="Actividad economica" 
        id="inputSmall">
        </div>
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        name=""  
        type="text" 
        placeholder="Fecha de constitucion" 
        id="inputSmall">
        </div>

    </div>

    <div class="row">

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
                <input class="form-control form-control-sm"
                name=""  
                type="text" 
                placeholder="Vigencia de la sociedad" 
                id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
                <input class="form-control form-control-sm"
                name=""  
                type="text" 
                placeholder="Capital social" 
                id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
                <input class="form-control form-control-sm"
                name=""  
                type="text" 
                placeholder="No de empleados" 
                id="inputSmall">
        </div>

        
        </div>
        <!--DIR OFICINA-TELEFONO-FAX-CELULAR-->
        <div class="row">
                
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-6">
        <input class="form-control form-control-sm"
        name=""  
        type="text" 
        placeholder="Direccion Oficina" 
        id="inputSmall">
        </div>    
                    
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-2">
        <input class="form-control form-control-sm"
        name=""  
        type="text" 
        placeholder="telefono" 
        id="inputSmall">
        </div>
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-2">
        <input class="form-control form-control-sm"
        name=""  
        type="text" 
        placeholder="fax" 
        id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-2">
        <input class="form-control form-control-sm"
        name=""  
        type="text" 
        placeholder="Celular" 
        id="inputSmall">
        </div>
        
        </div>
        
</div>

<!--INFORMACION FINANCIERA-->
<h4><small>Informacion financiera</small></h4>
<div class="container fondo p-2">
<div class="row">
            
                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                <input class="form-control form-control-sm"
                name=""  
                type="text" 
                placeholder="Ingresos mensuales" 
                id="inputSmall">
                </div>
                
                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                <input class="form-control form-control-sm"
                name=""  
                type="text" 
                placeholder="Total activos" 
                id="inputSmall">
                </div>
                
                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                <input class="form-control form-control-sm"
                name=""  
                type="text" 
                placeholder="Total pasivos" 
                id="inputSmall">
                </div>

                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                <input class="form-control form-control-sm"
                name=""  
                type="text" 
                placeholder="Patrimonio" 
                id="inputSmall">
                </div>
                
</div>
</div>   

<h4><small>Referencias Entidades Financieras</small></h4>
<div class="container fondo p-2">

              <div class="row">
          
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              name=""  
              type="text" 
              placeholder="entidad" 
              id="inputSmall">
              </div>
              
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-2">
              <select class="custom-select custom-select-sm">
              <option selected="">Tipo de cuenta</option>
              <option value="Soltero">Ahorros</option>
              <option value="Casado">Corriente</option>
              </select>
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
              <input class="form-control form-control-sm"
              name=""  
              type="text" 
              placeholder="Numero de cuenta" 
              id="inputSmall">
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
              <input class="form-control form-control-sm"
              name=""  
              type="text" 
              placeholder="Titular" 
              id="inputSmall">
              </div>
              
              </div>
 
                      
</div>   

<h4><small>Referencias comerciales</small></h4>
<div class="container fondo p-2">

              <div class="row">
          
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              name=""  
              type="text" 
              placeholder="nombre de la empresa" 
              id="inputSmall">
              </div>
              
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              name=""  
              type="text" 
              placeholder="Ciudad" 
              id="inputSmall">
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              name=""  
              type="text" 
              placeholder="Telefono" 
              id="inputSmall">
              </div>
              
              </div>
 
                      
</div>  

<h4><small>Personas autorizadas para realizar operaciones</small></h4>
<div class="container fondo p-2">

              <div class="row">
          
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              name=""  
              type="text" 
              placeholder="Nombre" 
              id="inputSmall">
              </div>
              
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              name=""  
              type="text" 
              placeholder="Documento de identidad" 
              id="inputSmall">
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              name=""  
              type="text" 
              placeholder="Cargo" 
              id="inputSmall">
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              name=""  
              type="text" 
              placeholder="telefono" 
              id="inputSmall">
              </div>
              
              </div>
 
                      
</div>  

<div class="form-group formularioRegistro">
<button  [routerLink]="['/corredor']" class="btn btn-success submit-btn btn-block mt-4 mb-5">Enviar datos</button>
</div>

</form>
        

</div>