<div class="container mt-2">
        <h2><small>Persona Juridica</small></h2><h4><small>Informacion personal</small></h4>
        
        <form [formGroup]='forma' (ngSubmit)="publicarDatos(forma)">
        
<!--INFORMACION PERSONAL-->       
<div class="container fondo p-2">
        <!--RAZON SOCIAL - NIT - REPRESENTANTE LEGAL  -->  
        <div class="row">
             
        <div class="form-group mb-1  col-sm-12 col-md-12 col-lg-4">
        <input class="form-control form-control-sm"
        formControlName="razon"
        type="text" 
        placeholder="Razon social" 
        id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        formControlName="nit" 
        type="number" 
        placeholder="Nit" 
        id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
                <input class="form-control form-control-sm"
                formControlName="representante" 
                type="text" 
                placeholder="Nombre representante legal" 
                id="inputSmall">
                </div>
        
        </div>
        <!---CARGO- DOC IDENTIDAD - LUGAR DE EXPEDICION -CLASIFICACION -  -->
        <div class="row">
        
     
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        formControlName="cargo" 
        type="text" 
        placeholder="Cargo" 
        id="inputSmall">
        </div>
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        formControlName="documento"  
        type="text" 
        placeholder="Documento de identidad" 
        id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        formControlName="expedido"  
        type="text" 
        placeholder="Lugar de expedicion" 
        id="inputSmall">
        </div>

         

        
        </div>

        <!--ACTIVIDAD ECONOMICA - FECHA CONSTITUCION - VIGENCIA SOCIEDAD-->
        <div class="row">

                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
                        <select class="custom-select custom-select-sm"  formControlName="clasificacion">
                        <option selected="">Clasificacion</option>
                        <option value="financiera">Financiera</option>
                        <option value="Publica">Publica</option>
                        <option value="Privada">Privada</option>
                        <option value="Mixta">Mixta</option>
                        <option value="Reg Nal de Valores">Reg nal de valores</option>
                        <option value="Gran Contribuyente">Gran contribuyente</option>
                        <option value="Exenta retefuente">Exenta retefuente</option>
                        </select>
        </div>   
        
    
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        formControlName="actividad"  
        type="text" 
        placeholder="Actividad economica" 
        id="inputSmall">
        </div>
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        formControlName="constitucion"  
        type="text" 
        placeholder="Fecha de constitucion" 
        id="inputSmall">
        </div>

    </div>

    <div class="row">

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
                <input class="form-control form-control-sm"
                formControlName="vigencia" 
                type="text" 
                placeholder="Vigencia de la sociedad" 
                id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
                <input class="form-control form-control-sm"
                formControlName="capital" 
                type="text" 
                placeholder="Capital social" 
                id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
                <input class="form-control form-control-sm"
                formControlName="empleados" 
                type="text" 
                placeholder="No de empleados" 
                id="inputSmall">
        </div>

        
        </div>
        <!--DIR OFICINA-TELEFONO-FAX-CELULAR-->
        <div class="row">
                
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-6">
        <input class="form-control form-control-sm"
        formControlName="direccion" 
        type="text" 
        placeholder="Direccion Oficina" 
        id="inputSmall">
        </div>    
                    
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-2">
        <input class="form-control form-control-sm"
        formControlName="telefono"  
        type="text" 
        placeholder="telefono" 
        id="inputSmall">
        </div>
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-2">
        <input class="form-control form-control-sm"
        formControlName="fax"  
        type="text" 
        placeholder="fax" 
        id="inputSmall">
        </div>

        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-2">
        <input class="form-control form-control-sm"
        formControlName="celular" 
        type="text" 
        placeholder="Celular" 
        id="inputSmall">
        </div>
        
        </div>
        
</div>

<!--INFORMACION FINANCIERA-->
<h4><small>Informacion financiera</small></h4>
<div class="container fondo p-2">
<div class="row">
            
                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                <input class="form-control form-control-sm"
                formControlName="ingresos" 
                type="text" 
                placeholder="Ingresos mensuales" 
                id="inputSmall">
                </div>
                
                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                <input class="form-control form-control-sm"
                formControlName="activos"  
                type="text" 
                placeholder="Total activos" 
                id="inputSmall">
                </div>
                
                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                <input class="form-control form-control-sm"
                formControlName="pasivos" 
                type="text" 
                placeholder="Total pasivos" 
                id="inputSmall">
                </div>

                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                <input class="form-control form-control-sm"
                formControlName="patrimonio" 
                type="text" 
                placeholder="Patrimonio" 
                id="inputSmall">
                </div>
                
</div>
</div>   

<h4><small>Referencias Entidades Financieras</small></h4>
<div class="container fondo p-2">

              <div class="row">
          
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              formControlName="entidad"  
              type="text" 
              placeholder="entidad" 
              id="inputSmall">
              </div>
              
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-2">
              <select class="custom-select custom-select-sm"  formControlName="tipo">
              <option selected="Tipo de cuenta">Tipo de cuenta</option>
              <option value="Ahorros">Ahorros</option>
              <option value="Corriente">Corriente</option>
              </select>
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
              <input class="form-control form-control-sm"
              formControlName="numero" 
              type="text" 
              placeholder="Numero de cuenta" 
              id="inputSmall">
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
              <input class="form-control form-control-sm"
              formControlName="titular"  
              type="text" 
              placeholder="Titular" 
              id="inputSmall">
              </div>
              
              </div>
 
                      
</div>   

<h4><small>Referencias comerciales</small></h4>
<div class="container fondo p-2">

              <div class="row">
          
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              formControlName="empresa"  
              type="text" 
              placeholder="nombre de la empresa" 
              id="inputSmall">
              </div>
              
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              formControlName="ciudad" 
              type="text" 
              placeholder="Ciudad" 
              id="inputSmall">
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              formControlName="telefono2" 
              type="text" 
              placeholder="Telefono" 
              id="inputSmall">
              </div>
              
              </div>
 
                      
</div>  

<h4><small>Personas autorizadas para realizar operaciones</small></h4>
<div class="container fondo p-2">

              <div class="row">
          
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              formControlName="nombreA" 
              type="text" 
              placeholder="Nombre" 
              id="inputSmall">
              </div>
              
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              formControlName="documentoA"   
              type="text" 
              placeholder="Documento de identidad" 
              id="inputSmall">
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              formControlName="cargoA" 
              type="text" 
              placeholder="Cargo" 
              id="inputSmall">
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              formControlName="telefonoA" 
              type="text" 
              placeholder="telefono" 
              id="inputSmall">
              </div>
              
              </div>
 
                      
</div>  

<h4><small>Documentos</small></h4>


<div class="row text-center">

        <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
            <div class="row">
            <div class="col-12">
            <div class="card text-center pt-1 mb-0 ">
            <h6 class="text-black-50 mb-0"> Rut Actualizado </h6>
            <div class="card-body p-2">
            <input type="file" class="btn btn-sm btn-primary" (change)="seleccionImagen($event.target.files[0])" formControlName="doc1">
            </div>
            </div>
            </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
              <div class="row">
              <div class="col-12">
              <div class="card text-center pt-1 mb-0 ">
              <h6 class="text-black-50 mb-0"> Declaración de Renta </h6>
              <div class="card-body p-2">
              <input type="file" class="btn btn-sm btn-primary" (change)="seleccionImagen($event.target.files[0])" formControlName="doc2">
              </div>
              </div>
              </div>
              </div>
          </div>

      </div>

      <div class="row">

              <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                      <div class="row">
                      <div class="col-12">
                      <div class="card text-center pt-1 mb-0 ">
                      <h6 class="text-black-50 mb-0"> Certificación Bancaria </h6>
                      <div class="card-body p-2">
                      <input type="file" class="btn btn-sm btn-primary" (change)="seleccionImagen($event.target.files[0])" formControlName="doc3">
                      </div>
                      </div>
                      </div>
                      </div>
                  </div>
    
                  <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                        <div class="row">
                        <div class="col-12">
                        <div class="card text-center pt-1 mb-0 ">
                        <h6 class="text-black-50 mb-0"> Cédula </h6>
                        <div class="card-body p-2">
                        <input type="file" class="btn btn-sm btn-primary" (change)="seleccionImagen($event.target.files[0])" formControlName="doc4">
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>



      </div>

<div class="form-group formularioRegistro">
<button  type="submit"  class="btn btn-success  btn-block mt-4 mb-5">Enviar datos</button>
</div>

</form>
        

</div>