<div class="card-deck p-0">
    
    <div class="card justify-content-center text-center">
    <p class="mb-0 ">$20.000.000</p>
    <small class="text-muted">Mi portafolio</small>
    </div>
    
    <div class="card justify-content-center text-center">
    <p class="mb-0 ">$20.000.000</p>
    <small class="text-muted">Vol Anual</small>
    </div>

    <div class="card justify-content-center text-center">
    <p class="mb-0 ">$20.000.000</p>
    <small class="text-muted">Vol historico</small>
    </div>


  </div>

  