<!--ESTE COMPONENTE ESTA EN EL LANDING PAGE , AL LAGO DERECHO DEL FORMULARIO DE LOGIN-->


<div class="cuadrado mr-4 ml-4 mt-4  " >

    <div class="titulo text-center" >
    <div class="navbar-brand "><i class="far fa-clone"></i>BlauVest</div>
    <h1 class="title1 text-center tamaño ubicacion " >La plataforma de inversion y financiación </h1>


    <div class="miniNav  ">
        <ul class="nav nav-tabs justify-content-center col-sm-12 col-md-12 col-lg-12 ">
        <li class="nav-item">
        <a class="nav-link " [routerLink]="['ensubasta']"  routerLinkActive="active" ><i class="fas fa-atom fa-spin"></i> En subasta</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " [routerLink]="['funcion']"  routerLinkActive="active" > Cómo funciona</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " [routerLink]="['productos']" routerLinkActive="active"><i class="fas fa-book"></i> Productos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['contacto']" routerLinkActive="active" ><i class="fab fa-telegram-plane"></i> contacto</a>
        </li>
        </ul>
    </div>


    </div> 
    
    
 
    <div class="publicadas pt-1 scrollingDiv mb-0">
    <router-outlet></router-outlet>
    </div>
            
      
   
         
</div>

