

<div class="container text-center ">

  <h6>
    Aceptaste la oferta!
  </h6>
  <div>
   
    <h4> <small>valor inicial oferta inicial : {{ oferta?.valorOferta | currency }} </small> </h4>
    <h4 *ngIf='oferta?.fraccion > 0' > <small>valor que Aceptaste: {{ oferta?.fraccion| currency }} </small> </h4>
    <h4> <small>tasa: {{ oferta?.tasaOferta }}%</small>  </h4>
  </div>

  <div class="container">
    <div class="form-group mt-0 borde  pr-3 pl-3">
  
      <h4 class="letra mt-4 mb-0" > <small>envia tus datos al comprador</small></h4>
      <h6> <small>Si tienes datos por modificar puedes hacerlo , de lo contrario da click en enviar!</small>  </h6>
      <hr class="mt-1" >
        
      <form  [formGroup]='forma' (ngSubmit)="enviarDatos( forma )" >
      
        <div class="form-inline m-1">


  
        <input class="form-control col-md-5 col-lg-6  form-control form-control-sm"
        formControlName="nombre" 
        type="text" 
        placeholder="Tu nombre completo"
        required>

        <input class="form-control col-md-5 col-lg-6  form-control form-control-sm"
        formControlName="cuenta" 
        type="number" 
        placeholder="Numero de cuenta"
        required>

        <input class="form-control col-md-5 col-lg-6  form-control form-control-sm"
        formControlName="banco" 
        type="text" 
        placeholder="banco"
        required>
  
       
            <h3 class="mr-sm-2 sr-only" for="inlineFormCustomSelect"> Tipo de cuenta </h3>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="tipo"  >
              <option selected>Tipo de cuenta...</option>
              <option value="Ahorros">Ahorros</option>
              <option value="Corriente">Corriente</option>
             </select>
     
  
        <button type="submit" class="col-sm-12 col-md-2 col-lg-12 mt-2 mb-2 btn btn-success btn-sm ">Enviar datos</button>
  
    </div>
  
     
        
       
  
    
    </form>
    </div>
</div>

</div>

