<div class="fondo-negro animated fadeIn" [ngClass]="modal.fotoOculta">

    <div class="modal radio" style="display: block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body borde p-0">


                    <div class="form-group m-0 borde  p-4">
                        <button type="button" (click)="ocultar()" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>

                        <h4 class="letra mt-4 mb-0">Publica una nueva factura!</h4>

                        <p>
                            fotogrande works!
                          </p>


                    </div>


                </div>






            </div>
        </div>
    </div>


</div>

