
<div class="container text-center mt-4">

  <h5> Elige como quieres que se te haga el pago!! </h5>

<div class="row mt-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transferencia a tu cuenta</h5>
          <p class="card-text">Dispondras del dinero de inmediato.</p>
          <a (click)="transferencia()" class="btn btn-primary">Transferencia</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cargar a tu saldo</h5>
          <p class="card-text">El corredor quedara con tu dinero.</p>
          <a (click)="saldo()" class="btn btn-success">Saldo</a>
        </div>
      </div>
    </div>
  </div>

</div>