<div class="animated fadeIn" >

<div>

  <ul class="sidebar-nav">
        <li class="sidebar-brand">
        <a  [routerLink]="['/corredor']">
        Mi perfil
        </a>
        </li>
  <li>
  <a [routerLink]="['/pagadores']">Pagadores</a>
  </li>
  <li>
  <a [routerLink]="['/descontadores']">Descontadores</a>
  </li>
  <li>
  <a [routerLink]="['/usuarios']">Usuarios</a>
  </li>
  <li>
  <a [routerLink]="['/empresas']">Empresas</a>
  </li>
  <li>
  <a [routerLink]="['/noticias']">Noticias</a>
  </li>
  <li>
  <a [routerLink]="['/ayuda']">Ayuda</a>
  </li>
    
    </ul>

  </div>

  
  <!-- /#sidebar-wrapper -->
  

  
 