<div class="col-12 align-content-center" >
<div class="col-sm-12 col-md-9 col-lg-9 pb-2">
<div class="btn-group btn-group-toggle  mt-md-4 mt-lg-4 ">
<label class="btn btn-outline-success p-1" [routerLink]="['/aprobacion/natural']" routerLinkActive="active"  >
Soy persona narutal
</label>

<label class="btn btn-outline-success p-1" [routerLink]="['/aprobacion/juridica']" routerLinkActive="active"  >
Soy persona juridica
</label>
</div>
</div>
</div>


<div>
<router-outlet></router-outlet>
</div>

