<div class="container mt-2">
        <h2><small>Persona Natural</small></h2><h4><small>Informacion personal</small></h4>
        
        <form [formGroup]='forma' (ngSubmit)="publicarDatos(forma)">
        
<!--INFORMACION PERSONAL-->       
<div class="container fondo p-2">
        <!--TIPO NOMBRE Y APEELIDO-->  
        <div class="row">
        
        <div class="form-group mb-1 col-sm-12 col-md-12 col-lg-3 ">
        <select class="custom-select custom-select-sm" formControlName="tipoSolicitante" >
        <option selected=""  >Tipo de solicitante</option>
        <option value="titular">Titular</option>
        <option value="beneficiario">Beneficiario</option>
        </select>
        </div>
        
        <div class="form-group mb-1  col-sm-12 col-md-12 col-lg-9">
        <input class="form-control form-control-sm"
        formControlName="nombre" 
        type="text" 
        placeholder="Nombre y apellido" 
        id="inputSmall">
        </div>
        
        </div>
        <!--DOCUMENTO IDENTIDAD-SEXO-->
        <div class="row">
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-8 ">
        <input class="form-control form-control-sm"
        formControlName="documento" 
        type="number" 
        placeholder="No Documento de identidad" 
        id="inputSmall">
        </div>
        
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
        <select class="custom-select custom-select-sm"  formControlName="sexo" >
        <option selected="">sexo</option>
        <option value="INVERSIONISTA">Mujer</option>
        <option value="CORREDOR">hombre</option>
        </select>
        </div>
        
        </div>
        <!--FECHA-PAIS-ESTADOCIVIL-->
        <div class="row">
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        formControlName="nacimiento"  
        type="date" 
        placeholder="Fecha de nacimiento" 
        id="inputSmall">
        </div>
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
        <input class="form-control form-control-sm"
        formControlName="pais" 
        type="text" 
        placeholder="Pais de nacimiento" 
        id="inputSmall">
        </div>
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
        <select class="custom-select custom-select-sm"  formControlName="estadoCivil" >
        <option selected="">Estadi civil</option>
        <option value="Soltero">Soltero</option>
        <option value="Casado">Casado</option>
        <option value="Divorciado">divorciado</option>
        <option value="Viduo">viudo</option>
        <option value="Otro">otro</option>
        </select>
        </div>
        
        </div>
        <!--RESIDENCIA-CIUDAD-TELEFONO-->
        <div class="row">
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-6">
        <input class="form-control form-control-sm"
        formControlName="dirResidencia" 
        type="text" 
        placeholder="direccion residencia" 
        id="inputSmall">
        </div>
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
        <input class="form-control form-control-sm"
        formControlName="ciudad" 
        type="text" 
        placeholder="ciudad" 
        id="inputSmall">
        </div>
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
        <input class="form-control form-control-sm"
        formControlName="telefono"  
        type="text" 
        placeholder="Telefono" 
        id="inputSmall">
        </div>
        
        </div>
        <!--OFICINA-CIUDAD-TELEFONO-->
        <div class="row">
                
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-6">
        <input class="form-control form-control-sm"
        formControlName="dirCorrespondencia"  
        type="text" 
        placeholder="Direccion Oficina" 
        id="inputSmall">
        </div>    
                    
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
        <input class="form-control form-control-sm"
        formControlName="ciudadOf" 
        type="text" 
        placeholder="Ciudad" 
        id="inputSmall">
        </div>
        
        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
        <input class="form-control form-control-sm"
        formControlName="celular"  
        type="text" 
        placeholder="Telefono" 
        id="inputSmall">
        </div>
        
        </div>
        
</div>

<!--BENEFICIARIOS-->
<h4><small>Beneficiarios u ordenantes principales</small></h4>
<div class="container fondo p-2">
        
            <!--TIPO NOMBRE Y APEELIDO-->  
            <div class="row">
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
            <select class="custom-select custom-select-sm"  formControlName="tipoB" >
            <option selected="">Tipo de solicitante</option>
            <option value="INVERSIONISTA">Titular</option>
            <option value="CORREDOR">Beneficiario</option>
            </select>
            </div>
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-9">
            <input class="form-control form-control-sm"
            formControlName="nombreB" 
            type="text" 
            placeholder="Nombre y apellido" 
            id="inputSmall">
            </div>
            
            </div>
            
            <!--DOCUMENTO IDENTIDAD-SEXO-->
            <div class="row">
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-8 ">
            <input class="form-control form-control-sm"
            formControlName="documentoB" 
            type="number" 
            placeholder="No Documento de identidad" 
            id="inputSmall">
            </div>
            
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
            <select class="custom-select custom-select-sm" formControlName="sexoB" >
            <option selected="">sexo</option>
            <option value="INVERSIONISTA">Mujer</option>
            <option value="CORREDOR">hombre</option>
            </select>
            </div>
            
            </div>
            
            <!--FECHA-PAIS-ESTADOCIVIL-->
            <div class="row">
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
            <input class="form-control form-control-sm"
            formControlName="nacimientoB"  
            type="date" 
            placeholder="Fecha de nacimiento" 
            id="inputSmall">
            </div>
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4 ">
            <input class="form-control form-control-sm"
            formControlName="paisB"   
            type="text" 
            placeholder="Pais de nacimiento" 
            id="inputSmall">
            </div>
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
            <select class="custom-select custom-select-sm"  formControlName="estadoCivilB" >
            <option selected="">Estadi civil</option>
            <option value="Soltero">Soltero</option>
            <option value="Casado">Casado</option>
            <option value="Divorciado">divorciado</option>
            <option value="Viduo">viudo</option>
            <option value="Otro">otro</option>
            </select>
            </div>
            
            </div>
            <!--RESIDENCIA-CIUDAD-TELEFONO-->
            <div class="row">
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-6">
            <input class="form-control form-control-sm"
            formControlName="dirResidenciaB"  
            type="text" 
            placeholder="direccion residencia" 
            id="inputSmall">
            </div>
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
            <input class="form-control form-control-sm"
            formControlName="ciudadB" 
            type="text" 
            placeholder="ciudad" 
            id="inputSmall">
            </div>
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
            <input class="form-control form-control-sm"
            formControlName="telefonoB" 
            type="text" 
            placeholder="Telefono" 
            id="inputSmall">
            </div>
            
            </div>
            <!--OFICINA-CIUDAD-TELEFONO-->
            <div class="row">
                    
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-6">
            <input class="form-control form-control-sm"
            formControlName="dirCorrespondenciaB" 
            type="text" 
            placeholder="Direccion Oficina" 
            id="inputSmall">
            </div>    
                        
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
            <input class="form-control form-control-sm"
            formControlName="ciudadBof" 
            type="text" 
            placeholder="Ciudad" 
            id="inputSmall">
            </div>
            
            <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
            <input class="form-control form-control-sm"
            formControlName="telefonoB" 
            type="text" 
            placeholder="celularB" 
            id="inputSmall">
            </div>
            
            </div>
            

            
</div>

<!--INFORMACION FINANCIERA-->
<h4><small>Informacion financiera</small></h4>
<div class="container fondo p-2">

          <div class="row">
            
                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-6">
                <input class="form-control form-control-sm"
                formControlName="profesion"  
                type="text" 
                placeholder="Profesion" 
                id="inputSmall">
                </div>
                
                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                <input class="form-control form-control-sm"
                formControlName="empresa" 
                type="text" 
                placeholder="Empresa" 
                id="inputSmall">
                </div>
                
                <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                <input class="form-control form-control-sm"
                formControlName="cargo" 
                type="text" 
                placeholder="Cargo" 
                id="inputSmall">
                </div>
                
                </div>

                <div class="row">
            
                        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-6">
                        <input class="form-control form-control-sm"
                        formControlName="ingresos" 
                        type="text" 
                        placeholder="Ingresos Mensuales" 
                        id="inputSmall">
                        </div>
                        
                        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                        <input class="form-control form-control-sm"
                        formControlName="activos" 
                        type="text" 
                        placeholder="Total activos" 
                        id="inputSmall">
                        </div>
                        
                        <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
                        <input class="form-control form-control-sm"
                        formControlName="pasivos" 
                        type="text" 
                        placeholder="Total pasivos" 
                        id="inputSmall">
                        </div>
                        
                        </div>    
                        
</div>   

<h4><small>Referencias Bancarias</small></h4>
<div class="container fondo p-2">

              <div class="row">
          
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-4">
              <input class="form-control form-control-sm"
              formControlName="entidad" 
              type="text" 
              placeholder="entidad" 
              id="inputSmall">
              </div>
              
              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-2">
              <select class="custom-select custom-select-sm"  formControlName="tipo" >
              <option selected="">Tipo de cuenta</option>
              <option value="Soltero">Ahorros</option>
              <option value="Casado">Corriente</option>
              </select>
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
              <input class="form-control form-control-sm"
              formControlName="numero" 
              type="text" 
              placeholder="Numero de cuenta" 
              id="inputSmall">
              </div>

              <div class="form-group  mb-1 col-sm-12 col-md-12 col-lg-3">
              <input class="form-control form-control-sm"
              formControlName="titular" 
              type="text" 
              placeholder="Titular" 
              id="inputSmall">
              </div>

          
 
              
              </div>
 
                      
</div>   


<div class="form-group">
<button type="submit" class="btn btn-success  btn-block mt-4 mb-2">Enviar datos</button>
</div>

<h4><small>Documentos</small></h4>


<div class="row text-center">

        <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
            <div class="row">
            <div class="col-12">
            <div class="card text-left pt-1 mb-0 ">
            <h6 class="ml-2 text-black-50 mb-0"> Rut Actualizado </h6>
            <div class="card-body p-2">
            <div class="row">
            <div class="col-8"> 
            <input type="file" class="btn btn-sm btn-secondary" (change)="seleccionImagen($event.target.files[0])" formControlName="doc1">
            </div>
            <div class="col-3 text-center p-0">
            <button class="pt-0 pb-0 btn btn-warning" (click)="cambiarImagen()"  >subir</button>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                        <div class="row">
                        <div class="col-12">
                        <div class="card text-left pt-1 mb-0 ">
                        <h6 class="ml-2 text-black-50 mb-0">Declacraciión de Renta</h6>
                        <div class="card-body p-2">
                        <div class="row">
                        <div class="col-8"> 
                        <input type="file" class="btn btn-sm btn-secondary" (change)="seleccionImagen2($event.target.files[0])" formControlName="doc2">
                        </div>
                        <div class="col-3 text-center p-0">
                        <button class="pt-0 pb-0 btn btn-warning" (click)="cambiarImagen()" >subir</button>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>



      </div>

      <div class="row mb-5">

                <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                                <div class="row">
                                <div class="col-12">
                                <div class="card text-left pt-1 mb-0 ">
                                <h6 class="ml-2 text-black-50 mb-0">Certificación Bancaria </h6>
                                <div class="card-body p-2">
                                <div class="row">
                                <div class="col-8"> 
                                <input type="file" class="btn btn-sm btn-secondary" (change)="seleccionImagen3($event.target.files[0])" formControlName="doc3">
                                </div>
                                <div class="col-3 text-center p-0">
                                <button class="pt-0 pb-0 btn btn-warning">subir</button>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                                        <div class="row">
                                        <div class="col-12">
                                        <div class="card text-left pt-1 mb-0 ">
                                        <h6 class="ml-2 text-black-50 mb-0">Cédula</h6>
                                        <div class="card-body p-2">
                                        <div class="row">
                                        <div class="col-8"> 
                                        <input type="file" class="btn btn-sm btn-secondary" (change)="seleccionImagen4($event.target.files[0])" formControlName="doc4">
                                        </div>
                                        <div class="col-3 text-center p-0">
                                        <button class="pt-0 pb-0 btn btn-warning">subir</button>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
        



      </div>


</form>
        

</div>