<div class="row headerFacturas m-0">


    <div class="col-sm-12 col-md-3 col-lg-3 m-0 p-0 mt-3">
        <h4 class="title2 pl-1"> Mis Facturas </h4>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9 text-center pb-2 ">
        <div class="btn-group btn-group-toggle  mt-md-4 mt-lg-4 ">


            <label class="btn btn-primary mr-2" [routerLink]="['/corredor/inboxCorredor']" routerLinkActive="router-link-active">
      Bandeja de entrada
      </label>

            <label class="btn btn-success" [routerLink]="['/corredor/publicadas']" routerLinkActive="router-link-active">
      Publicadas en tramite
      </label>

        </div>
    </div>

    <table class="table-hover table-responsibe table-sm table m-0">
        <thead class="text-left letraResumen">
            <tr>
                <th scope="col">Portafolio:$ 0 </th>
                <th scope="col">Vol anual: $ 0 </th>
                <th scope="col">Vol historico: $ 0 </th>
            </tr>
        </thead>
    </table>


</div>


<div class="publicadas pt-1 scrollingDiv mb-1">
 <app-agregar-factura-link *ngIf=" facturaService?.boton === true"></app-agregar-factura-link> 
   <!--  <app-agregar-factura-link></app-agregar-factura-link> -->
    <router-outlet></router-outlet>
</div>